// color
$white:#FFFFFF;
$gray:#8D8D8D;
$gray-2:#818A91;
$light-gray:#E0E0E0;
$light-gray-2:#CED4DA;
$black:#000000;
$gold:#AC8A46;
$brown:#916000;
// font-size 40 32 24 20 16 14

// font-family
$font-family-SF:SF Pro Text;
$font-family-PF:PingFang TC;